#header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.thumbnail{
    /*height: 100px;*/
    height: 75px auto;
    width: 75px;
}

body{
    background-color: #D6D6D6;
}

#visualization{
    margin: 2% auto;
    background-color: #D5DBD3;
    position: relative;
}

.vis-item{
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: #616161;
    background-color: #E6E6E6;
    margin-bottom: 2px;
    position: absolute;
}

.vis-item:hover{
    cursor: pointer;
}

.title{
    font-style: italic;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navigate{
    clear:both;
    text-align:left;
    margin: 5px;
}

#list{
    display: none;
}

#list li{
    text-decoration: underline;
    width: 15px;
    display: inline;
    list-style-type: none;
}

#list li:hover{
    cursor: pointer;
    color: blue;
}

#next{
    margin-left: 490px;
    list-style: none;
}

#wrapper{
    width: 100%;
    float: left;
    overflow: hidden;
}

#player{
    margin: 25px;
}

#desc{
    margin-left: 25px;
}

#desc-list{
    display: none;
}

#desc-list li{
    font-size: 24px;
    list-style-type: disc;
    margin-bottom: 10px;
}
